@model List<ApplicationCore.Models.MovieCardResponseModel>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul>
        @foreach (var movie in Model)
        {
            @await Html.PartialAsync("_MovieCard", movie)
        }
    </ul>
</div>

